.navbar .nav-menu {
	margin: 0;
	display: table;
	width: 100%;
}

.navbar .nav-menu>li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav-menu>li>a{
	text-align: center;
}

#top{
	width: 100%;
	height: 60px;
}
